body {
    font-family: 微软雅黑;
}

.click {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}


.input-group.input-group-merge > span.input-group-addon.left,
.input-group.input-group-merge > input.left,
.input-group.input-group-merge > span.input-group-btn.left > button
 {
    border-right: none;
}
.input-group.input-group-merge > span.input-group-addon.middle,
.input-group.input-group-merge > input.middle,
.input-group.input-group-merge > span.input-group-btn.middle > button  {
    border-left: none;
    border-right: none;
}
.input-group.input-group-merge > span.input-group-addon.right,
.input-group.input-group-merge > input.right,
.input-group.input-group-merge > span.input-group-btn.right > button   {
    border-left: none;
}



.area-operation {
    width: 100%;
    position: relative;
}

.area-operation .area-info {
    padding: 10px 20px;
    margin-bottom: 10px;
    float: left;
    width: 100%;

    font-size: 13px;
}


.area-operation .area-param {
    float: left;
    width: 100%;
}

.area-operation .area-button {
    text-align: center;
    width: 100%;

    margin-bottom: 10px;
}


.area-display {
    float: left;
    width: 100%;
}