body {
    font-family: 微软雅黑;
}

body *::selection { background: dimgray; color: whitesmoke; }

/*禁止文本选择*/
.navbar, .sidebar, select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

