
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @* jquery *@
    <script src="/Scripts/jQuery/jquery-2.2.3.js"></script>

    @* bootstrap *@
    <link rel="stylesheet" href="/css/bootstrap-3.3.5-dist/css/bootstrap.css" />
    <script src="/css/bootstrap-3.3.5-dist/js/bootstrap.js"></script>

    @* bootstrap icon font *@
    <link rel="stylesheet" href="/css/ace/css/font-awesome.min.css" />


    @* ace skins *@
    <link rel="stylesheet" href="/css/ace/css/ace.min.css"/>
    <script src="/css/ace/js/ace.min.js"></script>

    @*<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <link rel="stylesheet" href="/css/ace/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/css/ace/css/colorpicker.css" />

    <link rel="stylesheet" href="/css/ace/css/ace-skins.min.css"/>*@

    @*<script src="/css/ace/js/ace-elements.min.js"></script>*@
    @*<script src="/css/ace/js/ace-extra.min.js"></script>*@

    <link rel="stylesheet" href="/css/mystyle.css"/>

</head>
<body>
<div>
    <div class="navbar navbar-default" style="height: 45px;">
        <div class="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand"><span class="icon-github"></span> Taccisum!</a>
            </div>
            <div class="navbar-header pull-right">
                <ul class="nav ace-nav">
                    <li class="grey">
                        <a class="dropdown click" data-toggle="dropdown"><span class="icon-github-alt"></span><i class="icon-caret-down"></i></a>
                        <ul class="dropdown-navbar dropdown-menu dropdown-caret dropdown-close pull-right" role="menu">
                            <li class="dropdown-header"><i class="icon-github-alt"></i>C#相关</li>
                            <li><a tabindex="-1" href="#">数据库设计</a></li>
                            <li><a tabindex="-1" href="#">页面布局</a></li>
                            <li><a tabindex="-1" href="#">功能迭代</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="#">分离的链接</a></li>
                        </ul>
                    </li>
                    <li class="purple">
                        <a class="dropdown click" data-toggle="dropdown"><span class="icon-tags"></span><i class="icon-caret-down"></i></a>
                        <ul class="dropdown-navbar dropdown-menu dropdown-caret dropdown-close pull-right" role="menu">
                            <li class="dropdown-header"><i class="icon-tags"></i>Tags</li>
                            <li><a tabindex="-1" href="#">Entry1</a></li>
                            <li><a tabindex="-1" href="#">Entry2</a></li>
                            <li><a tabindex="-1" href="#">Entry3</a></li>
                        </ul>
                    </li>
                    <li class="green">
                        <a class="dropdown click" data-toggle="dropdown"><span class="icon-envelope"></span>&nbsp;<span class="badge badge-important">1</span></i></a>
                        <ul class="dropdown-navbar dropdown-menu dropdown-caret dropdown-close pull-right" role="menu">
                            <li class="dropdown-header"><i class="icon-info-sign"></i>Font Awesome！</li>
                            <li><span style="color: gray; font-size: 12px;">完美的图标字体，只为Bootstrap设计！</span></li>                            
                        </ul>
                    </li>
                    <li class="light-blue2">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="/css/ace/avatars/user.jpg" alt="Jason's Photo">
                            <span class="user-info">
                                <small>欢迎光临,</small>
                                Tac
                            </span>

                            <i class="icon-caret-down"></i>
                        </a>
                        <ul class="user-menu dropdown-menu dropdown-yellow dropdown-caret dropdown-close pull-right">
                            <li><a href="#"><i class="icon-cog"></i>设置</a></li>
                            <li><a href="#"><i class="icon-user"></i>个人资料</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-off"></i>退出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
</body>
</html>
