@{
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}
@using Practice.ViewModels
@model TestModel

@section style
{
    <style>
        p.test {
            font-size: 18px;
            color: darkcyan;
        }
    </style>
}


<div>
    <p class="test">a</p>
    <p class="test">b</p>
    <p class="test">c</p>
    <p class="test">d</p>

</div>